* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: gandur-new, sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: timberline, sans-serif;
}

#backgroundGradient {
    width: 100%;
    height: 100vh;
    background: rgb(197,235,255);
    background: linear-gradient(0deg, rgba(197,235,255,1) 0%, rgba(241,250,255,1) 40%, rgba(255,255,255,1) 100%);
    position: fixed;
    z-index: 0;
}

.lyricsWrapper {
    /* background-color: pink; */
    /* border: 10px dotted red; */
    width: 1400px;
    height: 3000px;
    position: relative;
}

#amazing {
    position: absolute;
    top: 8%;
    left: 50%;
    margin: -87.5px;
    font-size: 125px;
    letter-spacing: .03em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 99;

    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

#grace {
    position: absolute;
    top: 13%;
    left: 50%;
    margin: -106px;
    font-size: 125px;
    letter-spacing: .03em;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.2s both;

}

.graceA {
    color: white;
    opacity: 0;
}

#how {
    position: absolute;
    top: 28%;
    left: 50%;
    margin-left: -38px;
    font-size: 60px;
    letter-spacing: .03em;

    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.4s both;
}

#sweet {
    position: absolute;
    padding: 15px;
    top: 27%;
    left: 50%;
    margin-left: -103px;
    font-size: 100px;
    letter-spacing: .03em;
    font-family: timberline, sans-serif;

    animation: text-focus-in 1.5s ease-in-out 4.6s both;
}

.theSound {
    position: absolute;
    top: 29.5%;
    left: 53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

#the {
    font-size: 60px;
    letter-spacing: .03em;
    margin-top: 10px;

    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
}

#sound {
    padding: 15px;
    margin-left: 20px;
    font-family: timberline, sans-serif;
    font-size: 100px;
    letter-spacing: .03em;
    opacity: 0;

    animation: wobble-ver-left 0.8s ease-in-out 7.2s 2 both, fade-in 0.1s forwards 7.2s, addUnderline 0.1s forwards 9s;
}

.thatSaved {
    position: absolute;
    top: 29%;
    left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

#that {
    font-size: 60px;
    letter-spacing: .03em;
    margin-top: 60px;
}

#saved {
    padding: 20px;
    margin-left: 20px;
    font-family: timberline, sans-serif;
    font-size: 150px;
    letter-spacing: .03em;
}

.aWretch {
    position: absolute;
    top: 32%;
    left: 47%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

#a {
    font-size: 100px;
    letter-spacing: .03em;
    margin-top: 5px;
}

#wretch {
    padding: 20px;
    font-family: timberline, sans-serif;
    font-size: 150px;
    letter-spacing: .03em;
    /* margin-left: 15px; */
}

.likeMe {
    position: absolute;
    top: 35.5%;
    left: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

#like {
    font-family: timberline, sans-serif;
    font-size: 180px;
    letter-spacing: .03em;
}

#me {
    font-family: timberline, sans-serif;
    font-size: 180px;
    letter-spacing: .03em;
    margin-left: 40px;
}




/* =================== Keyframes starts here ==================== */

/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 23:0:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


 @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
@keyframes tilt-in-top-1 {
    0% {
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }

@keyframes wobble-ver-left {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      transform: translateY(15px) rotate(6deg);
    }
    45% {
      transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6px) rotate(-1.2deg);
    }
  }

  @keyframes addUnderline {
    0% {
        text-decoration: none;
    }
    100% {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: black;
    }
}